Loading the files

In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import pandas as pd
input_file="/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.flank.nodup.paf"
column_names = ['geneanchor', 'contig', 'identity', 'length', 'mismatches', 'gaps', 'qstart', 'qend', 'tstart', 'tend', 'evalue', 'bitscore']
paf = pd.read_csv(input_file, sep='\t', header=None, names=column_names)
paf = paf[['geneanchor','contig','identity', 'tstart' , 'tend']]
fai="/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.genes.combined.fasta.fai"
column_names = ['contig','length','x','y','z']
faidf = pd.read_csv(fai, sep='\t', header=None, names=column_names)
faidf = faidf[['contig','length']]

Merging DBs

In [2]:
df = pd.merge(paf,faidf,on=['contig'])
df[['anchorgene', 'pos']] = df['geneanchor'].str.split(pat='-', n=1, expand=True)
df[['sample', 'hap', 'contig', 'contiggene']] = df['contig'].str.split('#', n=3, expand=True)
df= df[['anchorgene','pos','sample', 'hap', 'contig', 'identity', 'contiggene','tstart','tend','length']]

In [3]:
df

,anchorgene,pos,sample,hap,contig,identity,contiggene,tstart,tend,length
0,A4GALT,3,GM19467,2,60.0,100.000,A4GALT,191956,192156,288477
1,A4GALT,3,GM19471,2,21.0,100.000,A4GALT,165882,166082,274006
2,A4GALT,3,GM19473,1,6.0,100.000,A4GALT,118198,118398,280985
3,A4GALT,3,GM19473,2,6.0,100.000,A4GALT,117969,118169,280754
4,A4GALT,3,HG00097,1,47.0,100.000,A4GALT,107008,107208,212619
...,...,...,...,...,...,...,...,...,...,...
44346,XK,5,PGXX22539,1,9.0,99.005,XK,30322,30521,105697
44347,XK,5,PGXX22539,2,9.0,99.005,XK,30314,30512,105714
44348,XK,5,PGXX22540,2,27.1,99.005,XK,33788,33986,66780
44349,XK,5,PLPN239131,1,38.1,100.000,XK,16390,16590,44399
44350,XK,5,PLPN239131,2,38.1,99.010,XK,16381,16581,44413

Checking if anchor genes are always the same as contig genes.

In [4]:
df['gene_match'] = df['anchorgene'] == df['contiggene']
df[df['gene_match'] == False]

,anchorgene,pos,sample,hap,contig,identity,contiggene,tstart,tend,length,gene_match
303,A4GALT,3,PBXP050271,2,16.0,100.000,REFERENCE,871,1071,18246,False
379,A4GALT,3,PBYP331517,2,1.3,100.000,REFERENCE,1767,1967,20554,False
383,A4GALT,3,PBYP338524,1,55.0,100.000,SLC4A1,45500,45700,61462,False
384,A4GALT,3,PBYP338524,2,55.0,100.000,SLC4A1,45474,45674,61436,False
398,A4GALT,3,PBYP378545,1,1.0,100.000,REFERENCE,556,756,15902,False
...,...,...,...,...,...,...,...,...,...,...,...
44064,XK,5,HG02675,2,1.0,99.502,B3GALNT1,298045,298244,299725,False
44109,XK,5,HG03611,1,10.0,100.000,GYPA_GYPB,148692,148492,198991,False
44110,XK,5,HG03611,2,10.0,100.000,GYPA_GYPB,148752,148552,199074,False
44144,XK,5,HG03897,1,57.0,100.000,SLC14A1,63096,63296,302700,False
44145,XK,5,HG03897,2,57.0,100.000,SLC14A1,63082,63282,302732,False

Checking if the orientation is incorrect

In [5]:
df['strand_match'] = df['tend'] > df['tstart']
df

,anchorgene,pos,sample,hap,contig,identity,contiggene,tstart,tend,length,gene_match,strand_match
0,A4GALT,3,GM19467,2,60.0,100.000,A4GALT,191956,192156,288477,True,True
1,A4GALT,3,GM19471,2,21.0,100.000,A4GALT,165882,166082,274006,True,True
2,A4GALT,3,GM19473,1,6.0,100.000,A4GALT,118198,118398,280985,True,True
3,A4GALT,3,GM19473,2,6.0,100.000,A4GALT,117969,118169,280754,True,True
4,A4GALT,3,HG00097,1,47.0,100.000,A4GALT,107008,107208,212619,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
44346,XK,5,PGXX22539,1,9.0,99.005,XK,30322,30521,105697,True,True
44347,XK,5,PGXX22539,2,9.0,99.005,XK,30314,30512,105714,True,True
44348,XK,5,PGXX22540,2,27.1,99.005,XK,33788,33986,66780,True,True
44349,XK,5,PLPN239131,1,38.1,100.000,XK,16390,16590,44399,True,True
44350,XK,5,PLPN239131,2,38.1,99.010,XK,16381,16581,44413,True,True

In [6]:
duplicate_mappings = df.groupby(['anchorgene', 'pos', 'sample', 'hap']).size().reset_index(name='Count')

# Step 2: Filter rows where count is greater than 1 (duplicates)
duplicates = duplicate_mappings[duplicate_mappings['Count'] > 1]

# Step 3: Merge back with original data to get the identity values for these duplicates
duplicate_with_identity = pd.merge(duplicates, df, on=['anchorgene', 'pos', 'sample', 'hap'])

# Step 4: Update the 'newheader' and 'oldheader' columns
# For non-duplicate tuples, set the newheader and oldheader based on sample, hap, contig, and anchorgene/contiggene
# For duplicates, keep the oldheader unchanged.

# First, create the newheader and oldheader for non-duplicate entries
df['newheader'] = df['sample'] + '#' + df['hap'].astype(str) + '#' + df['contig'].astype(str) + '#' + df['anchorgene']
df['oldheader'] = df['sample'] + '#' + df['hap'].astype(str) + '#' + df['contig'].astype(str) + '#' + df['contiggene']

# Now, keep oldheader for duplicate entries
#df.loc[df.set_index(['anchorgene', 'pos', 'sample', 'hap']).index.isin(duplicates.set_index(['anchorgene', 'pos', 'sample', 'hap']).index), 'newheader'] = df['oldheader']

In [7]:
df

,anchorgene,pos,sample,hap,contig,identity,contiggene,tstart,tend,length,gene_match,strand_match,newheader,oldheader
0,A4GALT,3,GM19467,2,60.0,100.000,A4GALT,191956,192156,288477,True,True,GM19467#2#60.0#A4GALT,GM19467#2#60.0#A4GALT
1,A4GALT,3,GM19471,2,21.0,100.000,A4GALT,165882,166082,274006,True,True,GM19471#2#21.0#A4GALT,GM19471#2#21.0#A4GALT
2,A4GALT,3,GM19473,1,6.0,100.000,A4GALT,118198,118398,280985,True,True,GM19473#1#6.0#A4GALT,GM19473#1#6.0#A4GALT
3,A4GALT,3,GM19473,2,6.0,100.000,A4GALT,117969,118169,280754,True,True,GM19473#2#6.0#A4GALT,GM19473#2#6.0#A4GALT
4,A4GALT,3,HG00097,1,47.0,100.000,A4GALT,107008,107208,212619,True,True,HG00097#1#47.0#A4GALT,HG00097#1#47.0#A4GALT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44346,XK,5,PGXX22539,1,9.0,99.005,XK,30322,30521,105697,True,True,PGXX22539#1#9.0#XK,PGXX22539#1#9.0#XK
44347,XK,5,PGXX22539,2,9.0,99.005,XK,30314,30512,105714,True,True,PGXX22539#2#9.0#XK,PGXX22539#2#9.0#XK
44348,XK,5,PGXX22540,2,27.1,99.005,XK,33788,33986,66780,True,True,PGXX22540#2#27.1#XK,PGXX22540#2#27.1#XK
44349,XK,5,PLPN239131,1,38.1,100.000,XK,16390,16590,44399,True,True,PLPN239131#1#38.1#XK,PLPN239131#1#38.1#XK
44350,XK,5,PLPN239131,2,38.1,99.010,XK,16381,16581,44413,True,True,PLPN239131#2#38.1#XK,PLPN239131#2#38.1#XK

Export dataframe to correct headers with genematch and orientation with strandmatch

In [8]:
input_fasta = '/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.genes.combined.fasta'
output_fasta = '/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.genes.combined.corrected.fasta'

# Create a dictionary to map old headers to new headers and strand_match status manually
header_mapping = {}
for _, row in df.iterrows():
    old_header = row['oldheader']
    header_mapping[old_header] = {'newheader': row['newheader'], 'strand_match': row['strand_match']}

    
# Create a list to hold modified SeqRecords
modified_records = []

# Iterate over the input FASTA file
with open(input_fasta, 'r') as fasta_in:
    for record in SeqIO.parse(fasta_in, 'fasta'):
        old_header = record.id
        
        if old_header in header_mapping:
            new_header = header_mapping[old_header]['newheader']
            strand_match = header_mapping[old_header]['strand_match']
            
            # Reverse complement the sequence if strand_match is False
            if not strand_match:
                modified_seq = record.seq.reverse_complement()
            else:
                modified_seq = record.seq
            
            # Create a new SeqRecord with the modified header and sequence
            modified_record = SeqIO.SeqRecord(
                modified_seq,
                id=new_header,
                description=''
            )
            modified_records.append(modified_record)

# Write the modified sequences to a new FASTA file
with open(output_fasta, 'w') as fasta_out:
    SeqIO.write(modified_records, fasta_out, 'fasta')

Handling gene bodies (contigs not contained in paf)

In [9]:
# Load PAF file
input_file = "/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.flank.nodup.paf"
column_names_paf = ['geneanchor', 'contig', 'identity', 'length', 'mismatches', 'gaps', 'qstart', 'qend', 'tstart', 'tend', 'evalue', 'bitscore']
paf = pd.read_csv(input_file, sep='\t', header=None, names=column_names_paf)
paf = paf[['geneanchor', 'contig', 'identity', 'tstart', 'tend']]

# Load FAI file
fai_file = "/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.genes.combined.fasta.fai"
column_names_fai = ['contig', 'length', 'x', 'y', 'z']
faidf = pd.read_csv(fai_file, sep='\t', header=None, names=column_names_fai)
faidf = faidf[['contig', 'length']]

# Find contigs in FAI but not in PAF and exclude those containing 'geneUn'
contigs_in_fai_not_paf = faidf[~faidf['contig'].isin(paf['contig'])]
contigs_in_fai_not_paf = contigs_in_fai_not_paf[~contigs_in_fai_not_paf['contig'].str.contains("geneUn")]

In [10]:
# Input FASTA file with all sequences
fasta_input = "/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.genes.combined.fasta"

# Output FASTA file to append the sequences to
fasta_output = '/g/data/te53/sj2852/blgrp/analyses/pangenome/analysis-v2/labelled2chm13-blast2anchors/bldgrp.genes.combined.corrected.fasta'

# Create a set of contigs to extract from the input FASTA
contigs_to_extract = set(contigs_in_fai_not_paf['contig'])

# Open the output FASTA file
with open(fasta_output, "a") as output_handle:
    # Parse the input FASTA file
    for record in SeqIO.parse(fasta_input, "fasta"):
        if record.id in contigs_to_extract:
            # Write the record to the output FASTA
            SeqIO.write(record, output_handle, "fasta")